html, body {
  text-align: center;
  padding: 15px;
  /* background-color: #A8CDCC; */
  background: url('./images/workshop.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.draw {
  border: solid 2px black;
  height: 80%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  font-family: 'Dancing Script', cursive;
  text-shadow: 4px 4px 2px #aaa;
}

#inputMonth {
  width: 70px;
  outline: none;
}


#inputDay {
  width: 70px;
  margin-left: 4px;
}

#inputYear {
  width: 70px;
  margin-left: 4px;
  margin-right: 10px;
}

#inputEvent {
  width: 140px;
  margin: 4px;
}

#inputEvent:focus, #inputMonth:focus, #inputDay:focus, #inputYear:focus {
  border-bottom: solid #F0393B 3px;
}

.timerInputs {
  outline: none;
  border-bottom: solid #F0393B 2px;
  border-top: solid white 0px;
  border-left: solid white 0px;
  border-right: solid white 0px;
}

#getCountdown {
  margin-top: 20px
}

strong {
  color: #F0393B ;
}

#showTimer {
  font-size: 20px;
}